.swiper-pagination-bullet {
  background: white !important;
  opacity: 1 !important;
  width: 12px !important;
  height: 12px !important;
  padding: 5px !important;
  border: 3px solid black !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
  border: 3px solid white !important;
}
/* .swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 8px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 8px)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  /* opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2); 
} */
